<!-- Create New All Board Modal -->
<div id="createNewAllBoard" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-warning h1 text-warning"></i>
                    <div class="custom-radio custom-control custom-radio">
                    	<input type="radio" id="commonBoard" value="1" name="boardType" class="custom-control-input boardType" checked>
                    	<label for="commonBoard" class="custom-control-label"> <i class="fas fa-table"></i> 일반게시판</label><br>
                   </div>
                    <div class="custom-radio custom-control custom-radio">
                    	<input type="radio" id="kanbanBoard" value="2" name="boardType" class="custom-control-input boardType">
                   		<label for="kanbanBoard" class="custom-control-label"> <i class="fab fa-trello"></i> 칸반게시판</label>
                   </div>
                   <br>
                    <input type="text" class="form-control" placeholder="Board Name" id="boardName">
                   <br>
                   <button type="button" class="btn btn-warning my-2" data-dismiss="modal" id="createBoardBtn">Create</button>
               </div>
           </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Invite Member Modal -->
<div id="InviteMember" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-warning h1 text-warning"></i>
                    <input type="text" class="form-control" placeholder="초대할 email을 입력하세요" id="searchUser">
                    <button type="button" class="btn btn-warning my-2" data-dismiss="modal" id="sendInvitationBtn">Send Invitation</button>
               </div>
           </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Team Name Modal -->
<div id="editTeamNameModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <h5 class="text-warning">변경할 Team Name을 입력하세요</h5>
                    <input type="text" class="form-control" id="inputTeamName"><br>
                    <button type="button" class="btn btn-warning my-2" data-dismiss="modal" id="editOkBtn">Edit</button>
               </div>
           </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 팀리더 넘겨주는 모달 -->
<div id="passLeaderModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <h5 class="text-warning">Team Leader 권한을<br>넘겨줄 팀원을 선택하세요</h5>
                    <div class="card">
						<div class="card-body text-left">
                            <div class="custom-control custom-radio" th:each="member: ${teamMember}" th:if="${member.id != session.currentUser.id}">
                                <input type="radio" th:id="${member.id}" name="passLeader" th:value="${member.id}" class="custom-control-input">
                                <label class="custom-control-label" th:for="${member.id}" th:text="${member.id}"></label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning my-2" data-dismiss="modal" id="passLeaderOkBtn">OK</button>
               </div>
           </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->