<!-- <html xmlns:th="http://wwww.thymeleaf.org"> -->

	<aside th:fragment="aside" class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<li class="sidebar-item" id="teaminfo-nav"><span class="team-title" th:text="${team.teamName}"></span>
						<!-- <span th:text="${teamMember}"></span> -->
						<div class="popover-icon" id="profile-group">
							
							<div class="rounded-circle popover-item"  th:each="member: ${teamMember}" 
								style="float: left; background-color: white; overflow: hidden; height: 50px; width: 50px;">
								<div style="top: 0; left: 0; right: 0; bottom: 0; transform: translate(50%, 50%);">

									<img th:src="'assets/images/userImage/' + ${member.image}" alt="user" 	
										style="width: auto; height: 70px; transform: translate(-50%, -50%);" 
										data-toggle="tooltip" data-placement="top" th:title="${member.id}">

									<input type="hidden" class="hiddenMemberId" th:value="${member.id}">
								</div>
							</div>
						</div>
						<div class="invite-button">
							<button type="button" id="InviteBtn" class="btn waves-effect waves-light btn-rounded btn-primary" data-toggle="modal" data-target="#InviteMember" >Invite</button>
						</div>
					</li>

					<li class="list-divider"></li>
					<li class="nav-small-cap"><span class="hide-menu">Board List</span></li>
					<div id="allBoardList">
						<li class="sidebar-item" th:each="board: ${allBoardList}">
							<a class="sidebar-link redirectBoard" href="javascript:void(0);" aria-expanded="false">
								<input type="hidden" th:value="${board.allBoardListNo}" class="hiddenAllBoardListNo">
								<i th:class="${board.boardTypeNo == 1} ? 'fas fa-table' : 'fab fa-trello'"></i>
								<span class="hide-menu" th:text="${board.name}"></span>
							</a>
						</li>
					</div>
					<li class="sidebar-item">
						<a class="sidebar-link" href="javascript:void(0);" aria-expanded="false" data-toggle="modal" data-target="#createNewAllBoard"  id="addBaordBtn"> 
							<i data-feather="plus-circle" class="feather-icon"></i> 
							<span class="hide-menu">Add Board</span>
						</a>
					</li>

					<li class="list-divider"></li>
					<li class="nav-small-cap"><span class="hide-menu">Components</span></li>

					<li class="sidebar-item">
						<a class="sidebar-link sidebar-link" href="javascript:void(0)" aria-expanded="false"> 
							<i class="fas fa-cloud-download-alt"></i> 
							<span class="hide-menu">Cloud</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link sidebar-link" href="javascript:void(0)" aria-expanded="false"> 
							<i class="fas fa-calendar-check"></i> 
							<span class="hide-menu">Calender </span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link sidebar-link" href="javascript:void(0)" aria-expanded="false"> 
							<i class="fas fa-paint-brush"></i> 
							<span class="hide-menu">Canvas </span>
						</a>
					</li>

				</ul>
			</nav>
			<!-- End Sidebar navigation -->
		</div>
		<!-- End Sidebar scroll-->
		
		<script th:inline="javascript">
	    /*<![CDATA[*/
	    	var currUser = [[${session.currentUser.id}]];
	    	var teamNo = [[${team.teamNo}]];
	    /*]]>*/
	    </script>
	</aside>
