<a href="javascript:void(0);" id="fixedBtn" class="btn"><i class="far fa-comment fa-2x"></i></a>

<div style="display:none;" id="alert_list" >
		
			<div class="col-md-12" style="padding:20px; width:500px;">
				<div class="card" style="margin:0; box-shadow: none;" >
							<div class="chat-box scrollable position-relative" style="overflow: auto !important;">
								<ul class="chat-list list-style-none" id="msgUl">
								</ul>
							</div>
							<div class="border-top" style="padding-top: 10px;">
								<div class="row">
									<div class="col-9" style="padding-left: 4px;">
										<div class="input-field mt-0 mb-0">
											<input id="message" placeholder="Type and enter" class="form-control border-0" type="text">
										</div>
									</div>
									<div class="col-3" style="padding-right: 15px;">
										<a id="sendBtn" class="btn-circle btn-lg btn-cyan float-right text-white" href="javascript:void(0);">
											<i class="fas fa-paper-plane"></i>
										</a>
									</div>
								</div>
							</div>
				</div>
			</div>
</div>