<html xmlns:th="http://wwww.thymeleaf.org">

	<header th:fragment="header" class="topbar" data-navbarbg="skin6">
		<nav class="navbar top-navbar navbar-expand-md">
			<div class="navbar-header" data-logobg="skin6">
				<!-- This is for the sidebar toggle which is visible on mobile only -->
				<a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
					<i class="ti-menu ti-close"></i>
				</a>
				<!-- ============================================================== -->
				<!-- Logo -->
				<!-- ============================================================== -->
				<div class="navbar-brand">
					<!-- Logo icon -->
					<a href="/"> 
						<b class="logo-icon"> 
							<!-- Dark Logo icon -->
							<img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" /> 
							<!-- Light Logo icon --> 
							<img src="assets/images/logo-icon.png" alt="homepage" class="light-logo" />
						</b> <!--End Logo icon --> 
							<!-- Logo text --> 
							<span class="logo-text">
							<!-- dark Logo text --> 
							<img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" /> 
							<!-- Light Logo text --> 
							<img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
						</span>
					</a>
				</div>
				<!-- ============================================================== -->
				<!-- End Logo -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Toggle which is visible on mobile only -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Logo -->
			<!-- ============================================================== -->
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav float-left mr-auto ml-3 pl-1"></ul>
				<ul class="navbar-nav float-right">
					<a href="#" id="fixedBtn" class="btn"><i class="fas fa-comments fa-2x"></i></a>
					<!-- ============================================================== -->
					<!-- User profile -->
					<!-- ============================================================== -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false" style="line-height: 40px; margin-bottom: 10px;">
							<div class="user-img rounded-circle" style="float: left; background-color: white; overflow: hidden; height: 40px; width: 40px;">
								<div style="top: 0; left: 0; right: 0; bottom: 0; transform: translate(50%, 50%);">
									<span>
										<img th:src="@{assets/images/userImage/}+${session.currentUser.image}" alt="user"
											href="javascript:void(0)" style="width: auto; height: 40px; transform: translate(-50%, -50%); display:block">
									</span>
								</div>
							</div> 
								<span class="ml-2 d-none d-lg-inline-block" style="clear: both;">
								<span>Hello,</span> <span class="text-dark" th:text="${session.currentUser.nickname}"></span> 
								<i data-feather="chevron-down" class="svg-icon"></i>
						</span>
					</a>
						<div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
							
							<!-- 이렇게 나눠주지 않으면 여기서 param.teamNo로 접근하는게 안된다... 분명 한줄로 끝낼 수 있는게 있을 것 같은데-->
							<span th:if="${param.teamNo == null}">
								<a class="dropdown-item" href="/edituser"><i data-feather="user" class="svg-icon mr-2 ml-1"></i> My Profile</a>		
							</span>
							<span th:unless="${param.teamNo == null}">  
								<a class="dropdown-item" th:href="@{/edituser(teamNo=${param.teamNo})}"><i data-feather="user" class="svg-icon mr-2 ml-1"></i> My Profile</a>
							</span>
							<a class="dropdown-item" href="/logout"> <i data-feather="power" class="svg-icon mr-2 ml-1"></i> Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
<th:block th:replace="common/chat"></th:block>
<script src="js/chat.js"></script>
