<html xmlns:th="http://wwww.thymeleaf.org">
<div th:fragment="script">
	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="js/app-style-switcher.js"></script>
	<script src="js/feather.min.js"></script>
	<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="js/custom.min.js"></script>
	<script src="js/kanban.js"></script>
	<!--This page JavaScript -->
	<script src="js/pages/dashboards/dashboard1.min.js"></script>

</div>