<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.AsideDao">

	<select id="getTeam" resultType="kr.or.bit3004.groupAndTeam.Team">
		select team_no, team_name, background_color
		  from `team`
		 where `team_no` = #{teamNo}
	</select>
	
	<select id="getTeamMember" resultType="kr.or.bit3004.groupAndTeam.TeamMember">
		select m.team_no, m.id, leader, nickname, image
		  from `team_member` m
		  join `user` u
		    on m.id = u.id
		 where m.`team_no` = #{teamNo}
	</select>
	
	<select id="getAllBoardList" resultType="kr.or.bit3004.aside.AllBoardList">
		select `all_board_list_no`, `name`, `team_no`, `board_type_no`
		  from `all_board_list`
		 where `team_no` = #{teamNo}
		 order by `all_board_list_no`
	</select>
	
	<insert id="insertAllBoard" parameterType="kr.or.bit3004.aside.AllBoardList">
		insert into `ALL_BOARD_LIST` (
			`name`, `team_no`, `id`, `board_type_no`
		) values (
			#{name}, #{teamNo}, #{id}, #{boardTypeNo}
		)
	</insert>
	
	<select id="getCurrAllBoardListNo" resultType="int">
		select max(`ALL_BOARD_LIST_NO`) from `ALL_BOARD_LIST`
	</select>
		
	<select id="searchUser" parameterType="String" resultType="String">
		select id from `user` where id like '%${id}%'
	</select>
	
	<insert id="inviteMember" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `TEAM_MEMBER`(`team_no`, `id`) values(#{teamNo}, #{id})
	</insert>
	
	<!-- 초대된 멤버의 Personal 그룹의 no 뽑아오기 -->
	<select id="searchPersonalNo" resultType="int">
		select group_no from `group` where group_name = 'Personal' and id = #{id}
	</select>
	
	<!-- 초대된 멤버의 그룹-팀 매핑 테이블에 insert해주기 -->
	<insert id="insertGroupTeam" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `group_team`(group_no, team_no, id) values(#{groupNo}, #{teamNo}, #{id})
	</insert>
	
	<select id="selectInvitedMemberInfo" resultType="kr.or.bit3004.user.User">
		select image, nickname, id from `user` where id=#{id}
	</select>
	
	<!-- aside의 board name 수정 -->
	<update id="updateAsideBoardName" parameterType="kr.or.bit3004.aside.AllBoardList">
		update `all_board_list`
		   set `name` = #{name}, `id` = #{id}
		 where `all_board_list_no` = #{allBoardListNo}
		   and `team_no` = #{teamNo}
	</update>
	
	<!-- aside의 board 삭제 -->
	<delete id="deleteAsideBoard" parameterType="kr.or.bit3004.aside.AllBoardList">
		delete from `all_board_list` 
		 where `all_board_list_no` = #{allBoardListNo}
		   and `team_no` = #{teamNo}
	</delete>
	
	<!-- Team name 수정 -->
	<update id="updateTeamName" parameterType="kr.or.bit3004.groupAndTeam.Team">
		update `team` set `team_name` = #{teamName} where `team_no` = #{teamNo}
	</update>
</mapper>

