<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.BoardDao">
	<!-- 게시판 목록 출력 -->
	<select id="getBoardList" resultType="kr.or.bit3004.board.Board">

select b.board_no, title, content, views, write_date, refer, depth, step, b.all_board_list_no, b.id, NICKNAME, team_no, file_name,
   (select count(*) from board_comment where board_no=b.board_no) as comment_count
  from ( 
   SELECT * 
     FROM board_list
   ) b
	inner join `user` u
      on u.id = b.id
	inner join all_board_list a
      on a.all_board_list_no = b.all_board_list_no
	left outer join board_file f
      on f.board_no = b.board_no
  where a.all_board_list_no = #{allBoardListNo}
  ORDER BY refer DESC, step asc 

        
	</select> 
	  <!-- 조회수 증가 -->
   <update id="updateReadCount" parameterType="kr.or.bit3004.board.Board">
      update board_list 
         set views = views+1 
       where board_no=#{boardNo}
   </update>
	<!-- 게시판 상세보기 -->
	<select id="selectBoardByNo" resultType="kr.or.bit3004.board.Board">
		select b.board_no, b.title, b.content, b.views, b.write_date, b.comment_count, b.all_board_list_no, b.id, a.name, u.nickname,b.refer
		  from board_list b
		 inner join `user` u
			on b.id = u.id
		 inner join all_board_list a
	        on b.all_board_list_no = a.all_board_list_no 
		 where board_no=#{boardNo}  
	</select>
	
	<!-- 게시판 글쓰기 -->
	<insert id="insertBoard" parameterType="kr.or.bit3004.board.Board">
		insert into board_list(`title`, `content`, `write_date`, `all_board_list_no`, `id`,`step`,`depth`,`refer`) 
		values(#{title}, #{content}, now(), #{allBoardListNo}, #{id},0,0,#{refer})
	</insert>

	<update id="updateReboardAddstep" parameterType="kr.or.bit3004.board.Board">
		update board_list set step=step+1
		where refer=#{refer} and step &gt; #{step}
	</update>
	
	<select id="getMaxRefer" resultType="int">
		select ifnull(max(refer),0) 
		from board_list
	</select>
	
	<select id="getReferDepthStep" resultType="kr.or.bit3004.board.Board">
		select refer,depth,step 
		from board_list
		where board_no=#{boardNo}
	</select>
	
	<select id="getStep" resultType="int">
		select ifnull(min(step),0) step
		from board_list
		where refer=#{refer} and step &gt; #{step} and depth &lt;= #{depth}
	</select>
	
	<select id="getMaxStep" resultType="int">
		select max(step)+1 maxStep
		from board_list
		where refer=#{refer}
	</select>
	
	<update id="updateStep" parameterType="kr.or.bit3004.board.Board">
		update board_list
		set step=step+1
		where refer=#{refer} and step &gt;= #{step}
	</update>
	
	<insert id="insertReboard" parameterType="kr.or.bit3004.board.Board">
		insert into board_list(`all_board_list_no`,`title`, `content`, `write_date`,`id`,`refer`,`depth`,`step`)
		values(#{allBoardListNo},#{title}, #{content}, now(), #{id},#{refer},#{depth}+1,#{step}+1)
	</insert>

	
<!-- 	<select id="selectBoardByRefer" resultType="kr.or.bit3004.board.Board">
		select refer
		from board_list
		where board_no=#{boardNo}
	</select> -->
	
	<select id="getBoardNo" resultType="int">
		select max(`board_no`) from `board_list`
	</select>
	

	<!-- 게시판 업로드 -->

	<insert id="insertBoardUploadFile" parameterType="kr.or.bit3004.board.BoardUpload">
		insert into board_file(origin_file_name, file_name, file_size, all_board_list_no, board_no)
		values(#{originFileName}, #{fileName}, #{fileSize}, #{allBoardListNo}, #{boardNo})
	</insert>

	
	<!-- 사원수정하기 -->
	<update id="updateBoard" parameterType="kr.or.bit3004.board.Board">
		update board_list
		   set board_no=#{boardNo}, title=#{title}, content=#{content}
		 where board_no=#{boardNo}
	</update>
	
	<!-- 게시판 삭제하기 -->
	<delete id="deleteBoard" parameterType="int">
		delete
		  from board_list
		 where board_no=#{boardNo}
	</delete>
</mapper>