<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.CalendarDao">
	<select id="showCalendar" resultType="kr.or.bit3004.calendar.Calendar">
		SELECT
			no,name,start,end,color,description,id
		FROM
			plan where team_no = #{teamNo}
	</select>
	
	<insert id="addPlan" parameterType="kr.or.bit3004.calendar.Calendar">
		INSERT INTO PLAN (
				NAME,
				START,
				END,
				COLOR,
				DESCRIPTION,
				TEAM_NO,
				ID,
				ALLDAY
				)
		VALUES
			(#{name},#{start},#{end},#{color},#{description},#{teamNo},#{id},#{allDay})
		
	</insert>
	<update id="updatePlan" parameterType="kr.or.bit3004.calendar.Calendar">
			update  PLAN set
				NAME = #{name},
				START =#{start},
				END = #{end},
				COLOR = #{color},
				DESCRIPTION = #{description},
				TEAM_NO = #{teamNo},
				ID = #{id},
				ALLDAY = #{allDay}
				where no = #{no}
	</update>
	
	<update id="updatePlanDrag" parameterType="kr.or.bit3004.calendar.Calendar">
			update  PLAN set
				START =#{start},
				END = #{end}
				where no = #{no}
	</update>
	<delete id="deletePlan">
		DELETE
		FROM PLAN
		WHERE NO = #{no}
	</delete>
</mapper>