<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.KanbanDao">
	<insert id="insertListTite" parameterType="kr.or.bit3004.kanban.KanbanList">
		insert into KANBAN_LIST (LIST_TITLE, ALL_BOARD_LIST_NO , id)
		values(#{listTite}, #{allBoardListNo}, #{id});
	</insert>
	
	<update id="updateListTite" parameterType="kr.or.bit3004.kanban.KanbanList">
		update KANBAN_LIST set LIST_TITLE = #{listTitle} , id = #{id} where kanban_list_no = #{kanbanListNo};
	</update>
	
   	<select id="kanbanList" parameterType="kr.or.bit3004.kanban.KanbanList">
	 select * from kanban_list where kanban_list_no = #{kanbanListNo};
	</select>
	
	<select id="allKanbanList" resultMap="selectMapList">
		SELECT l.list_title,l.all_board_list_no, l.id , c.title, c.content,
		c.write_date, c.file_count , c.comment_count , c.kanban_list_no,
		a.name , a.team_no , a.board_type_no
		FROM `KANBAN_LIST` l
		LEFT OUTER JOIN `KANBAN_CARD` c ON l.kanban_list_no = c.kanban_list_no
		LEFT OUTER JOIN `all_board_list` a ON l.all_board_list_no =
		a.all_board_list_no where a.all_board_list_no = ${allBoardListNo};
	</select>

	<resultMap type="java.util.HashMap" id="selectMapList">
		<result column="kanban_list_no" property="kanbanListNo" />
		<result column="list_title" property="listTitle" />
		<result column="all_board_list_no" property="allBoardListNo" />
		<result column="id" property="id" />
		<result column="title" property="cardTitle" />
		<result column="content" property="cardContent" />
		<result column="write_date" property="writeDate" />
		<result column="file_count" property="fileCount" />
		<result column="comment_count" property="commentcount" />
		<result column="kanban_list_no" property="kanbanListNo" />
		<result column="name" property="boardName" />
		<result column="team_no" property="teamNo" />
		<result column="board_type_no" property="boardTypeNo" />
	</resultMap>

	<select id="kanbanCardList" resultMap="selectCardList">
		select * from kanban_card;
	</select>
	
	<resultMap type="java.util.HashMap" id="selectCardList">
		<result column="no" property="cardNO" />
		<result column="title" property="cardTitle" />
		<result column="content" property="cardContent" />
		<result column="file_count" property="fileCount" />
		<result column="comment_count" property="commentcount" />
		<result column="kanban_list_no" property="kanbanListNo" />
	</resultMap>
	
	<select id="kanbanListJoinCard" resultMap="selectList">
	SELECT l.list_title,l.all_board_list_no,l.kanban_list_no,l.id , a.name , a.team_no , a.board_type_no
	FROM KANBAN_LIST l 
	LEFT OUTER JOIN all_board_list a ON l.all_board_list_no = a.all_board_list_no where l.all_board_list_no = ${allBoardListNo};
	</select>
	
	<resultMap type="java.util.HashMap" id="selectList">
		<result column="list_title" property="listTitle" />
		<result column="all_board_list_no" property="allBoardListNo" />
		<result column="id" property="id" />
		<result column="kanban_list_no" property="kanbanListNo" />
		<result column="name" property="boardName" />
		<result column="team_no" property="teamNo" />
		<result column="board_type_no" property="boardTypeNo" />
	</resultMap>
	
	
	<!-- delete kanban list -->
	<delete id="deleteKanbanList">
		DELETE
		FROM KANBAN_LIST
		WHERE LIST_TITLE = #{listTitle}
	</delete>
	
	<!-- getANewKanbanListNo -->
	<select id="getANewKanbanListNo" resultType="int">
		SELECT MAX(KANBAN_LIST_NO)
		FROM KANBAN_LIST
	</select>
	
	
</mapper>