<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.KanbanDao">
	<insert id="insertListTitle" parameterType="kr.or.bit3004.kanban.KanbanList">
		insert into KANBAN_LIST (LIST_TITLE, ALL_BOARD_LIST_NO , id)
		values(#{listTitle}, #{allBoardListNo}, #{id});
	</insert>
	
	<update id="updateKanbanListTitle" parameterType="kr.or.bit3004.kanban.KanbanList">
		update KANBAN_LIST 
		set LIST_TITLE = #{listTitle} , 
			id = #{id} 
		where kanban_list_no = #{kanbanListNo};
	</update>
	
   	<select id="kanbanList" parameterType="kr.or.bit3004.kanban.KanbanList">
	 select * from kanban_list where kanban_list_no = #{kanbanListNo};
	</select>
	
	<select id="kanbanCardList" resultMap="selectCardList">
		select * from kanban_card;
	</select>
	
	<resultMap type="java.util.HashMap" id="selectCardList">
		<result column="card_no" property="cardNo" />
		<result column="title" property="cardTitle" />
		<result column="content" property="cardContent" />
		<result column="file_count" property="fileCount" />
		<result column="comment_count" property="commentCount" />
		<result column="kanban_list_no" property="kanbanListNo" />
		<result column="card_index" property="cardIndex"/>
	</resultMap>
	
	<select id="kanbanListJoinCard" resultMap="selectList">
	SELECT l.list_title,l.all_board_list_no,l.kanban_list_no,l.id , c.card_no, c.title , c.CONTENT , c.WRITE_DATE , c.FILE_COUNT , c.COMMENT_COUNT , c.CARD_INDEX
	FROM KANBAN_LIST l 
	LEFT OUTER JOIN kanban_card c ON l.KANBAN_LIST_NO = c.KANBAN_LIST_NO where l.all_board_list_no = #{allBoardListNo};
	</select>
	
	<resultMap type="java.util.HashMap" id="selectList">
		<result column="list_title" property="listTitle" />
		<result column="all_board_list_no" property="allBoardListNo" />
		<result column="id" property="id" />
		<result column="WRITE_DATE" property="writeDate" />
		<result column="card_no" property="cardNo" />
		<result column="title" property="cardTitle" />
		<result column="content" property="cardContent" />
		<result column="file_count" property="fileCount" />
		<result column="comment_count" property="commentcount" />
		<result column="kanban_list_no" property="kanbanListNo" />
		<result column="card_index" property="cardIndex"/>
	</resultMap>
	
	<select id="kanbanListFromAllBoardListNo" resultType="kr.or.bit3004.kanban.KanbanList">
	 select * from kanban_list where all_board_list_no = #{allBoardListNo};
	</select>
	
	
	<!-- delete kanban list -->
	<delete id="deleteKanbanList">
		DELETE
		FROM KANBAN_LIST
		WHERE KANBAN_LIST_NO = #{kanbanListNo}
	</delete>
	
	<!-- getANewKanbanListNo -->
	<select id="getANewKanbanListNo" resultType="int">
		SELECT MAX(KANBAN_LIST_NO)
		FROM KANBAN_LIST
	</select>
	
	<select id="getANewCardNo" resultType="int">
		SELECT MAX(card_no)
		FROM KANBAN_Card
	</select>
	
	<!--getAKanbanListByKanbanListNo  -->
	<select id="getAKanbanListByKanbanListNo" resultType="kr.or.bit3004.kanban.KanbanList">
		SELECT KANBAN_LIST_NO, LIST_TITLE, ALL_BOARD_LIST_NO, ID
		FROM KANBAN_LIST
		WHERE KANBAN_LIST_NO = #{kanbanListNo}
	</select>
	
	
	<insert id="insertCardTitle">
	insert into kanban_card
	(title, write_date, kanban_list_no , card_index)  <!-- `card_index` -->
	values(#{title}, now(),#{kanbanListNo} , #{cardIndex});
	</insert>
	
	<update id="updateCardTitle">
	update KANBAN_CARD set title = #{title} , write_date = now() where card_no = #{cardNo};
	</update>
	
	<select id="kanbanCardContent" resultType="kr.or.bit3004.kanban.KanbanCard">
		select * from kanban_card where card_no = #{cardNo};
	</select>
	
	<update id="updateCardDescrioption">
	update KANBAN_CARD set CONTENT = #{content} , write_date = now() where card_no = #{cardNo};
	</update>
	

	<insert id="insertCardReply">
	insert into board_comment(content,write_date,id,card_no) values(#{content},now(),#{id},#{cardNo});
	</insert>
	
	<delete id="deleteKanbanCard">
		DELETE
		FROM KANBAN_CARD
		WHERE CARD_NO = #{cardNo}
	</delete>
	
	<select id="getKanbanCommentList" resultType="kr.or.bit3004.comment.KanbanComment">
		select b.comment_no, b.content, b.write_date, b.id, b.card_no , u.nickname, u.image
		 from board_comment b
		 inner join `user` u on b.id = u.id
		 where card_no = #{cardNo} order by b.comment_no desc;
	</select>

	<update id="updateCardReply">
	update board_comment set CONTENT = #{content} , write_date = now() where comment_no = #{commentNo};
	</update>
	
	<insert id="insertKanbanUploadFile" parameterType="kr.or.bit3004.kanban.KanbanUpload">
		INSERT INTO BOARD_FILE (
								ORIGIN_FILE_NAME,	
								FILE_NAME,
								FILE_SIZE,
								FILE_PATH,
								ALL_BOARD_LIST_NO,
								CARD_NO	
								)
				VALUES (
						#{originFileName},
						#{fileName},
						#{fileSize},
						#{filePath},
						#{allBoardListNo},
						#{cardNo}	
						)
					
	</insert>
	
	<delete id="deleteCardReply">
		DELETE
		FROM board_comment
		WHERE comment_no = #{commentNo};
	</delete>
	
	<select id="getKanbanCardFiles" resultType="kr.or.bit3004.kanban.KanbanUpload">
		SELECT FILE_NO,
			   ORIGIN_FILE_NAME,
			   FILE_NAME
		FROM BOARD_FILE
		WHERE CARD_NO = #{cardNo}		   
	</select>
			
	<select id="getAKanbanCardFile" resultType="kr.or.bit3004.kanban.KanbanUpload">
		SELECT FILE_NO,
			   ORIGIN_FILE_NAME,
			   FILE_NAME,
			   FILE_SIZE,
			   ALL_BOARD_LIST_NO,
			   CARD_NO
		FROM BOARD_FILE
		WHERE FILE_NO = #{fileNo}		   
	</select>
	
	<delete id="deleteKanbanCardFile">
		DELETE
		FROM BOARD_FILE
		WHERE FILE_NO = #{fileNo}
	</delete>
	
</mapper>