<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.TeamMainDao">
	<select id="getGroupAndTeam" resultType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		select *
		  from `group_team` gt
		  join `group` g
		    on gt.group_no = g.group_no
		  join `team` t
		    on gt.team_no = t.team_no
		 where g.id=#{id}
	</select>
	
	<select id="getGroup" resultType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		select GROUP_NO, GROUP_NAME, id
		  from `group`
		 where id=#{id}
	</select>
	
	<select id="getTeamMemberList" resultType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		select group_team_no, g.group_no, t.team_no, g.id, team_name, background_color, tm.id team_member_id, leader, image
		  from `group_team` gt
		  join `group` g
			on gt.group_no = g.group_no
		  join `team` t
			on gt.team_no = t.team_no
		  join `team_member` tm
		    on t.TEAM_NO = tm.TEAM_NO
		  join `user` u
		    on tm.ID = u.id
		 where g.id=#{id}
	</select>
	
	<insert id="insertGroup" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `group`(`id`, `group_name`) values(#{id}, #{groupName})
	</insert>
	
	<select id="getCurrGroupNo" resultType="int">
		select max(`GROUP_NO`) from `group`
	</select>
	
	<update id="updateGroupName" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		update `group` set `group_name` = #{groupName} where `group_no` = #{groupNo}
	</update>
	
	<select id="searchPersonalNo" resultType="int">
		select group_no from `group` where group_name = 'Personal' and id = #{id}
	</select>
	
	<!-- 그룹삭제시 그 그룹에 속한 팀들을 Personal 그룹으로 옮기기 -->
	<update id="moveGroup" parameterType="hashMap">
		update `group_team` set `group_no` = #{1st} where `group_no` = #{2nd}
	</update>
	
	<delete id="delGroup" parameterType="int">
		delete from `group` where `group_no` = #{groupNo}
	</delete>

	<insert id="insertTeam" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `TEAM`(`team_name`, `background_color`) values(#{teamName}, #{backgroundColor})
	</insert>
	
	<insert id="insertTeamLeader" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `TEAM_MEMBER`(`team_no`, `id`, `leader`) values(#{teamNo}, #{id}, 'Y')
	</insert>
	
	<insert id="insertGroupTeam" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `group_team`(group_no, team_no, id) values(#{groupNo}, #{teamNo}, #{id})
	</insert>
	
	<select id="getCurrTeamNo" resultType="int">
		select max(`TEAM_NO`) from `TEAM`
	</select>
	
	<update id="moveTeamFromGroup" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		update `group_team` gt 
		 inner join `group` g 
		    on gt.group_no = g.group_no
		   set gt.`group_no` = #{groupNo}
		 where `team_no` = #{teamNo}
		   and g.id = #{id}
	</update>
	
</mapper>
