<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.TeamMainDao">
	<select id="getTeam" resultType="kr.or.bit3004.groupAndTeam.Team">
		select team_no, team_name, background_color, group_no
		  from `team`
		 where `team_no` = #{teamNo}
	</select>
	
	<select id="getTeamMember" resultType="kr.or.bit3004.groupAndTeam.TeamMember">
		select m.team_no, m.id, leader, nickname, image
		  from `team_member` m
		  join `user` u
		    on m.id = u.id
		 where m.`team_no` = #{teamNo}
	</select>

	<select id="getGroupAndTeam" resultType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		select g.`GROUP_NO`, `GROUP_NAME`, `ID`, `TEAM_NO`, `TEAM_NAME`, `background_color`
		  from `group` g
		 inner join team t
		    on g.group_no = t.group_no 
		where id=#{id}
	</select>
	
	<select id="getGroup" resultType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		select GROUP_NO, GROUP_NAME, id
		  from `group`
		 where id=#{id}
	</select>
	
	<insert id="insertGroup" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `group`(`id`, `group_name`) values(#{id}, #{groupName})
	</insert>
	
	<select id="getCurrGroupNo" resultType="int">
		select max(`GROUP_NO`) from `group`
	</select>
	
	<update id="updateGroupName" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		update `group` set `group_name` = #{groupName} where `group_no` = #{groupNo}
	</update>
	
	<select id="searchPersonalNo" resultType="int">
		select group_no from `group` where group_name = 'Personal' and id = #{id}
	</select>
	
	<update id="moveGroup" parameterType="hashMap">
		update `team` set `group_no` = #{1st} where `group_no` = #{2nd}
	</update>
	
	<delete id="delGroup" parameterType="int">
		delete from `group` where `group_no` = #{groupNo}
	</delete>
	
	<select id="searchUser" parameterType="String" resultType="String">
		select id from `user` where id like '%${id}%'
	</select>
	
	<insert id="insertTeam" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `TEAM`(`team_name`, `background_color`, `group_no`) values(#{teamName}, #{backgroundColor}, #{groupNo})
	</insert>
	
	<insert id="insertTeamLeader" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		insert into `TEAM_MEMBER`(`team_no`, `id`, `leader`) values(#{teamNo}, #{id}, 'Y')
	</insert>
	
	<select id="getCurrTeamNo" resultType="int">
		select max(`TEAM_NO`) from `TEAM`
	</select>
	
	<update id="moveTeamFromGroup" parameterType="kr.or.bit3004.groupAndTeam.GroupAndTeam">
		update `team` set `group_no` = #{groupNo} where `team_no` = #{teamNo}
	</update>
	
</mapper>
