<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Bit 155 Final Project</title>
    
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/kanban.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom style -->
	<style>
		#content-outer{
		    border: 1px solid silver;
		    border-radius: 5px;
		    padding: 20px;
		    margin-bottom: 15px;
		}
		.comment-content {
		    margin-left: 42px;
		}
		.popover {
		 	/* height: 30px; */
		 	max-height: 1000px;
		 	/* width: 100px; */
		 	max-width: 1000px
		}
		#boardName {
			color:#5f76e8;
		}
		.comment {
			padding: 10px;
		}
	</style>
</head>
<body>
 	<!-- <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:replace="common/scriptA :: scriptA"></div> 
	<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" 
	data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
	    <th:block th:replace="common/header :: header"></th:block>
	    <th:block th:replace="common/aside :: aside"></th:block>
	    <th:block th:replace="common/addAllBoardModal"></th:block>
	    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
	    <div class="page-wrapper">
	    	<div class="page-breadcrumb">
				<div class="row">
					<div class="col-7 align-self-center">
						<h3 class="page-title text-truncate text-dark font-weight-medium mb-1" id="boardname" th:text="${boardnamelist.boardName}"></h3>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb m-0 p-0">
									<li class="breadcrumb-item"><i class="fas fa-table"
										style="margin-right: 8px;"></i><span class="boardName" >Board</span></li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		    <div class="container-fluid">
		        <div class="row">
		            <div class="col-12">
		                <div class="card">
		                    <div class="card-body">
	                            <div class="form-body">
	                                <div class="row">
	                                    <div class="col-lg-12">
	                                        <!-- 본문 내용 -->
	                                        <div id="content-outer">
	                                        	<input type="hidden" name="id" th:value="${session.currentUser.id}">
	                                            <input type="hidden" name="teamNo" th:value=" ${session.currentUser.teamNo}">
	                                            <input type="hidden" name="allBoardListNo" th:value="${allBoardListNo}">
	                                            <input type="hidden" name="boardNo" th:value="${selectBoard.boardNo}" id="boardNo">
                                            	<h6>
                                            		<a th:href="@{boardList.do(allBoardListNo=${allBoardListNo},teamNo=${teamNo})}" th:text="${selectBoard.name}" name="boardName" id="boardName"></a>
                                            		<label for="boardName">></label>
                                            	</h6>
                                            	<!-- 글이 공지사항일 경우 -->
	                                         	<span th:if="${selectBoard.boardNoti} != null" class="badge badge-danger">공지사항</span>
	                                            <h2><a th:text="${selectBoard.title}"></a></h2>
	                                            <!-- <input type="hidden" th:value="${selectBoard.boardNo}" id="boardNo"> -->
	                                            <div style="float: left; margin-bottom: 15px;">
	                                                <img th:src="${#strings.startsWith(selectBoard.image, 'https')} 
                               				? ${selectBoard.image} : @{assets/images/userImage/}+${selectBoard.image}" alt="user" class="rounded-circle" width="35">
	                                                <span th:text ="${selectBoard.nickname}" id="writer"></span><br>
	                                            </div>
	                                            <div style="float: right;">
	                                                <span th:if="${#dates.format(selectBoard.writeDate, 'yyyy-MM-dd') == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}" 
		                                         			th:text="${#dates.format(selectBoard.writeDate, 'HH:mm:ss')}"></span>
			                                         <span th:unless="${#dates.format(selectBoard.writeDate, 'yyyy-MM-dd') == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}" 
			                                         		th:text="${#dates.format(selectBoard.writeDate, 'yyyy-MM-dd')}"></span>
	                                               	조회수 <span th:text="${selectBoard.views}"></span>
	                                            </div>
	                                            <div style="clear: both;">
	                                                <hr>
	                                                <div id="main-content" style="min-height: 250px;">
	                                                	<a href="javascript:void(0);" id="downLoadBtn" class="btn" style="float:right;" th:if="${#lists.size(selectBoardDownloadFile) > 0}">
	                                                		<i class="far fa-folder" style="cursor: pointer;"></i>
	                                                		<span th:text="${#lists.size(selectBoardDownloadFile)}"></span>
	                                                	</a>
	                                                    <p class="lead" style="clear:both" th:utext="${selectBoard.content}"></p>
	                                                </div>
	                                                <hr class="my-4">
	                                                <!-- 댓글 -->
	                                                <div id="comment-area">
	                                                    <h4>Comment</h4>
	                                                    <div id="comment-list"></div>
	                                                    <div id="comment-writeForm" style="border: 1px solid silver;">
	                                                        <div style="padding: 10px 10px 0px 15px;"></div>
	                                                        <textarea class="form-control autosize" name="commentTextarea" id="commentTextarea" rows="1" placeholder="댓글을 남겨보세요" style="border: none; resize: none; overflow: hidden; box-shadow:none;" ></textarea>
	                                                        <div style="padding: 0px 10px 10px 10px;">
	                                                            <button class="btn waves-effect waves-light btn-rounded btn-outline-secondary btn-sm" id="commWrite">등록</button>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                      		</div>
	                            <div class="form-actions">
	                                <div style="float: left;">
	                                <a th:href="@{insertBoard.do(teamNo=${teamNo},allBoardListNo=${allBoardListNo})}" id="writeBtn"><i class="fas fa-pencil-alt"></i> 글쓰기</a>
	                                <a th:href="@{insertReboard.do(boardNo=${selectBoard.boardNo},teamNo=${teamNo},allBoardListNo=${allBoardListNo})}" class="btn btn-light btn-sm"><i class="fas fa-pencil-alt"></i> 답글</a>
	                                <span th:each="member: ${teamMember}" th:if="${member.id == session.currentUser.id}">
	                                    <a class="btn btn-light btn-sm" style="color: black" id="editBtn" th:if="${session.currentUser.id == selectBoard.id || member.leader.equals('Y')}"
	                                    	th:href="@{updateBoard.do(boardNo=${selectBoard.boardNo}, teamNo=${teamNo},allBoardListNo=${allBoardListNo})}">수정</a>
	                                    <a class="btn btn-light btn-sm" style="color: black" id="deleteBtn" th:if="${session.currentUser.id == selectBoard.id || member.leader.equals('Y')}"
	                                    	th:href="@{deleteBoard.do(boardNo=${selectBoard.boardNo},allBoardListNo=${allBoardListNo},teamNo=${teamNo})}">삭제</a>
	                                </span>
	                                </div>
	                                <div style="float: right;">
	                                    <!-- <a type="button" class="btn btn-light btn-sm" href="boardList.do?allBoardListNo=${allBoardListNo}&teamNo=${teamNo}">목록</a> -->
	                                    <a class="btn btn-light btn-sm" th:href="@{boardList.do(allBoardListNo=${allBoardListNo},teamNo=${teamNo})}">목록</a>
	                                    <a class="btn btn-light btn-sm" href="#"><i class="fas fa-angle-up"></i> TOP</a>
	                                </div>
	                            </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
		<!-- 다운로드 popover창 -->
		<div style="display:none;" id="download_list">
			<div th:each="boardFile:${selectBoardDownloadFile}">
				<a href="javascript:void(0);" download th:text="${boardFile.originFileName}" class="boardFileName" style="padding:15px; text-decoration: underline;"></a>
				<input type="hidden" th:value="${boardFile.fileName}">
			</div>
		</div>
    	<!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <div th:replace="common/scriptB :: scriptB"></div>
    
    <!-- 여기서부터 java script -->
    <script th:inline="javascript">
	    /*<![CDATA[*/
			var currUser = [[${session.currentUser.id}]];
	    	var id = [[${selectBoard.id}]];
	    	var boardContent = [[${selectBoard.content}]];
	    	var fileName = [[${selectBoardDownloadFile}]];
	    	var teamMember = [[${teamMember}]];
	    	var currUserNickname = [[${session.currentUser.nickname}]];
	        var currUserImage = [[${session.currentUser.image}]];
	        var teamNo = [[${session.currentUser.teamNo}]];
		/*]]*/
		
		if(bgColor == '5f76e8') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-primary');
		}
		if(bgColor == '22ca80') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-success');
		}
		if(bgColor == 'fdc16a') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-warning');
		}
		if(bgColor == 'ff4f70') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-danger');
		}
		if(bgColor == 'e8eaec' || bgColor == 'ffffff') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-light');
		}
		if(bgColor == '6c757d') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-secondary');
		}
		if(bgColor == '1c2d41') {
			$('#writeBtn').attr("class", 'btn waves-effect waves-light btn-sm btn-dark');
		}
		
	    //댓글 목록보기
		$.ajax({
			url: "CommentList.ajax",
			data: {
				boardNo: $('#boardNo').val()
			},
			success:function(resData){
				makeCommnet(resData);
			},
			error: function(e) {
				console.log(e);
			}
		});
	   
	   	//댓글 등록
	   	$('#commWrite').click(function(){
	   		if($('#commentTextarea').val() == ""){
	   			swal('내용을 입력하세요');
	   			return false;
	   		}
	   		var promise = 
	    		$.ajax({
	    			url: "InsertComment.ajax",
	    			data: {
	    				boardNo: $('#boardNo').val(),
	    				id: currUser,
	    				content: $('#commentTextarea').val()
	    			},
	    			success: function() {
	    				$('#commentTextarea').val("");
	    			}
	    		});
	   		promise.done(reloadListPromise);
	    	promise.fail(promiseError);
	   	});
	   	
	   	//댓글삭제 
	   	$('#comment-list').on('click', '.deleteComment', function(){
	   		var promise = 
	   			$.ajax({
	       			url: "DeleteComment.ajax",
	       			data: {
	       				boardNo: $('#boardNo').val(),
	       				commentNo: $(this).data("value")
	       			}
	       		});
	   		promise.done(reloadListPromise);
	    	promise.fail(promiseError);
	    	/* console.log($(this).data("value")); */
	   	});
	   	
	   	//댓글수정
	   	$('#comment-list').on('click', '.updateComment', function(){
			
				//클릭한 a태그의 class를 cancelUpdate로 바꾸고 아이콘바꾸기
				$(this).attr('class', 'cancleUpdate');
				$(this).html("<i class='fas fa-times-circle'></i>&nbsp;&nbsp;&nbsp;")
				
				//this(a태그)의 부모태그(div class="comment-content"태그)를 parentTag변수에 담기
				var parentTag = $(this).parent();
				//자식태그중 h5(댓글내용이 들어있는 태그)를 찾아서 변수에 담기
				var h5 = parentTag.find('h5');
				//댓글내용 변수에 담기
				var h5Text = parentTag.find('h5').text();
				//댓글내용이 있는 h5태그 hide하기
				$(h5).hide();
				var commentNo = $(this).data("value");
				
				//input태그 append하기(value에는 기존의 값 셋팅하고, 포커스주기)
				var html = "";
				html += '<div id="updateDiv">';
				html += '<input type="text" value="' + h5Text + '" name="content" id="updateContent">';
				html += '<button class="btn btn-light btn-sm" id="commentUpdateBtn">수정</button>';
				html += '</div>'
				parentTag.prepend(html);
				parentTag.find('input').focus();
				
				
				$('#commentUpdateBtn').click(function(){
					if($('#updateContent').val() == ""){
						Swal.fire('', '내용을 입력해주세요', 'warning');
						return false;
					}
					var promise = 
			    		$.ajax({
			    			url: "UpdateComment.ajax",
			    			data: {
			    				boardNo: $('#boardNo').val(),
			    				commentNo: commentNo,
			    				content: $('#updateContent').val()
			    			},
			    			success:function() {
			    				/* console.log("아무거나"); */
			    			},
			    			error: function(e) {
			    				console.log(e);
			    			}
			    		});
		    		promise.done(reloadListPromise);
			    	promise.fail(promiseError);
				});
	   	});
	   	
	   	//수정취소 눌렀을경우 리스트 다시 불러오기
	   	$('#comment-list').on('click', '.cancleUpdate', function(){
	   		var promise = 
	   			$.ajax({
	       			url: "CommentList.ajax",
	       			data: {
	       				boardNo: $('#boardNo').val()
	       			},
	       			error: function(e) {
	       				console.log(e);
	       			}
	       		});
	   		promise.done(reloadListPromise);
	    	promise.fail(promiseError);
	   	});
	   	
	   	//promise 함수
	   	function reloadListPromise() {
	   		return new Promise(function(resolve, reject) {
	   			$.ajax({
	   				url: "CommentList.ajax",
	   				data: {
	   					boardNo: $('#boardNo').val()
	   				},
	   				success:function(resData){
	   					$('#comment-list').empty();
	   					makeCommnet(resData);
	   				},
	   				error: function(e) {
	   					console.log(e);
	   				}
	   			});
	   		});
	   	}
	   	
	   	//promise 에러 함수
	   	function promiseError(e) {
	   		console.log("프로미스 에러..");
	   		console.log(e);
	   		return false;
	   	}
	   	
	   	//댓글 목록 그리는 함수 
	    function makeCommnet(result) {
	    	var html = "";
	    	$.each(result, function(index , obj){
	    		
	    		let imagesrc = "";
	    		if((obj.image).startsWith('https')){
					imagesrc = obj.image;
				}else{
					imagesrc = "assets/images/userImage/"+obj.image;
				}

	    		
	    		if(currUser == obj.id) {
	    			html += '<div class="comment" style="background-color:rgb(242, 242, 242)">';
	    		} else {
	    			html += '<div class="comment">';
	    		}
	   			html += 		'<img src="'+imagesrc+'" alt="user" class="rounded-circle" width="35">&nbsp;'
	  				html += 		'<b><span> '+ obj.nickname +'</span></b>&nbsp;&nbsp;';
	  				if($('#writer').text() == obj.nickname) {
					html += 	'<span class="writerBadge">작성자</span>';
	  				}
				html += 		'<br>';
				html += 		'<div class="comment-content">';
				html += 			'<h5>'+ obj.content +'</h5>';
				html += 			'<h6 style="color: rgb(180, 180, 180);">'+ obj.writeDate +'</h6>';
					if(currUser == obj.id) {
						html += 		'<a href="javascript:void(0);" data-value="' + obj.commentNo + '" class="updateComment iconStyle" name="updateComment"><i class="fas fa-edit" ></i></a>&nbsp;';
    	            	html += 		'<a href="javascript:void(0);" data-value="' + obj.commentNo + '" class="deleteComment iconStyle" name="deleteComment"><i class="fas fa-trash-alt"></i></a>';
					}
				html += 		'</div>';
				html += 	'</div>';
				html += 	'<hr class="my-1">';
	    	});
	    	
	    	$('#comment-list').append(html);
	    	if(bgColor == '5f76e8') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-primary');
	    	}
	    	if(bgColor == '22ca80') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-success');
	    	}
	    	if(bgColor == 'fdc16a') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-warning');
	    	}
	    	if(bgColor == 'ff4f70') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-danger');
	    	}
	    	if(bgColor == 'e8eaec' || bgColor == 'ffffff') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-light');
	    	}
	    	if(bgColor == '6c757d') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-secondary');
	    	}
	    	if(bgColor == '1c2d41') {
	    		$('.writerBadge').attr("class", 'writerBadge badge badge-pill badge-dark');
	    	}
	    }

	   	//다운로드 창
	   	$("#downLoadBtn").popover({
		    title: "Upload File",
			html: true,
			sanitize: false,
			placement: "bottom",
			content: function() {
			  return $("#download_list").html();
			}
		});
	   	
	   	//파일 경로 찾아서 다운로드
	   	$('#download_list .boardFileName').each(function() {
	   		/* console.log('cloud/'+teamNo+'/'+$(this).next().val()); */
	   		$(this).attr('href', 'cloud/'+teamNo+'/'+$(this).next().val());
		});
	   	
	   	/* //상세글 내용에 이미지 출력
	   	$('#summernote .lead').each(function() {
	   		console.log('cloud/'+summernoteImage+'/'+$(this).next().val());
	   		$(this).attr('cloud/'+summernoteImage+'/'+$(this).next().val());
		}); */
		
		
	   	
    </script>
</body>
</html>