<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Bit 155 Final Project</title>
    <!-- Custom CSS -->
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/kanban.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
   #content-outer{
       border: 1px solid silver;
       border-radius: 5px;
       padding: 20px;
       margin-bottom: 15px;
   }
   .comment-content {
       margin-left: 35px;
   }
</style>
</head>

<body>
 	<!-- <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
     <th:block th:replace="common/header :: header"></th:block>
     <th:block th:replace="common/aside :: aside"></th:block>
     <th:block th:replace="common/addAllBoardModal"></th:block>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    <div class="page-wrapper">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-12">
	                <div class="card">
	                    <div class="card-body">
	                        <form action="#">
	                            <div class="form-body">
	                                <div class="row">
	                                    <div class="col-lg-12">
	                                        <!-- 본문 내용 -->
	                                        <div id="content-outer">
	                                            <h6><a th:href="@{boardList.do(allBoardListNo=1)}" th:text="${selectBoard.name}"></a></h6>
	                                            <h2><a th:text="${selectBoard.title}"></a></h2>
	                                            <input type="hidden" th:value="${selectBoard.boardNo}" id="boardNo">
	                                            <div style="float: left; margin-bottom: 15px;">
	                                                <img src="assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="30">
	                                                <span th:text ="${selectBoard.nickname}" id="writer"></span><br>
	                                            </div>
	                                            <div style="float: right;">
	                                                <span th:text="${selectBoard.writeDate}"></span>
	                                               	조회수 <span th:text="${selectBoard.views}"></span>
	                                            </div>
	                                            <div style="clear: both;">
	                                                <hr>
	                                                <div id="main-content" style="min-height: 250px;">
	                                                    <p class="lead">
	                                                        <span th:text="${selectBoard.content}"></span>
	                                                    </p>
	                                                </div>
	                                                <hr class="my-4">
	                                                <!-- 댓글 -->
	                                                <div id="comment-area">
	                                                    <h4>Comment</h4>
	                                                    <div id="comment-list">
	                                                       <!-- <div class="comment" style="background-color:rgb(242, 242, 242)">
	                                                            <img src="assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="30">
	                                                            <b><a th:text="${board.nickname}"></a></b>
	                                                            <span class="text-info">작성자</span>
	                                                            <br>
	                                                            <div class="comment-content">
	                                                                <h5>
	                                                                    sldkfjsldjdkdkdkdksusdj;lsdjlk<br>
	                                                                    sdfsdfsd<br>
	                                                                    sdfsdf
	                                                                </h5>
	                                                                <h6 style="color: rgb(180, 180, 180);">
	                                                                    2020.07.01. 12:56
	                                                                </h6>
	                                                            </div>
	                                                        </div>
	                                                        <hr class="my-1">
	                                                        <div class="comment">
	                                                            <img src="assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="30">
	                                                            <b><a th:text="${board.nickname}"></a></b>
	                                                            <br>
	                                                            <div class="comment-content">
	                                                                <h5>
	                                                                    sldkfjsldjdkdkdkdksusdj;lsdjlk<br>
	                                                                    sdfsdfsd<br>
	                                                                    sdfsdf
	                                                                </h5>
	                                                                <h6 style="color: rgb(180, 180, 180);">
	                                                                    2020.07.01. 12:56
	                                                                </h6>
	                                                            </div>
	                                                        </div>
	                                                        <hr class="my-1">
	                                                        <div class="comment">
	                                                            <img src="assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="30">
	                                                            <b>Hyerin</b>
	                                                            <br>
	                                                            <div class="comment-content">
	                                                                <h5>
	                                                                    sldkfjsldjdkdkdkdksusdj;lsdjlk<br>
	                                                                    sdfsdfsd<br>
	                                                                    sdfsdf
	                                                                </h5>
	                                                                <h6 style="color: rgb(180, 180, 180);">
	                                                                    2020.07.01. 12:56
	                                                                </h6>
	                                                            </div>
	                                                        </div> -->
	                                                    </div>
	                                                    <div id="comment-writeForm" style="border: 1px solid silver;">
	                                                        <div style="padding: 10px 10px 0px 15px;"></div>
	                                                        <textarea class="form-control autosize" name="comment" id="commnet" rows="1" placeholder="댓글을 남겨보세요" style="border: none; resize: none; overflow: hidden;" ></textarea>
	                                                        <div style="padding: 0px 10px 10px 10px;">
	                                                            <button class="btn waves-effect waves-light btn-rounded btn-outline-secondary btn-sm" id="commWrite">등록</button>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
								
	                                    </div>
	                                </div>
	                      		</div>
	                            <div class="form-actions">
	                                <div style="float: left;">
	                                    <a href="insertBoard.do?teamNo=1" class="btn btn-info btn-sm" style="color: white"><i class="fas fa-pencil-alt"></i> 글쓰기</a>
	                                    <button type="button" class="btn btn-light btn-sm">답글</button>
	                                    <a class="btn btn-light btn-sm" style="color: black" th:href="@{updateBoard.do(boardNo=${selectBoard.boardNo}, teamNo=1)}">수정</a>
	                                    <a class="btn btn-light btn-sm" style="color: black" th:href="@{deleteBoard.do(boardNo=${selectBoard.boardNo})}">삭제</a>
	                                </div>
	                                <div style="float: right;">
	                                    <a type="button" class="btn btn-light btn-sm" href="boardList.do?allBoardListNo=1&teamNo=1">목록</a>
	                                    <a class="btn btn-light btn-sm" href="#"><i class="fas fa-angle-up"></i> TOP</a>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <div th:replace="common/script :: script"></div>
    
    <!-- 여기서부터 script -->
    <script>
    /*<![CDATA[*/
		var currUser = '[[${session.currentUser.id}]]';
	/*]]*/

	    //댓글 목록보기
		$.ajax({
			url: "CommentList.ajax",
			data: {
				boardNo: $('#boardNo').val()
			},
			success:function(resData){
				makeCommnet(resData);
			},
			error: function(e) {
				console.log(e);
			}
		});
    
    	//댓글 등록
    	$('#commWrite').click(function(){
    		console.log($('#boardNo').val())
    		/* if($('#comment').val() == ""){
    			alert('내용을 입력하세요');
    			return false;
    		}
    		
    		$.ajax({
    			url: "InsertComment.ajax",
    			data: {
    				boardNo: $('#boardNo').val(),
    				id: currUser,
    				commentContent: $('#comment').val()
    			},
    			success: function(resData){
    				$('#comment-list').empty();
    				makeComment(resData);
    				$('#comment').val("");
    			}
    		}); */
    	});

    	//댓글 목록 그리는 함수 
	    function makeCommnet(result) {
	    	var html = "";
	    	$.each(result, function(index , obj){
	    		if(currUser == obj.id) {
	    			html += '<div class="comment" style="background-color:rgb(242, 242, 242)">';
	    		} else {
	    			html += '<div class="comment">';
	    		}
    			html += 		'<img src="assets/images/userImage/'+ obj.image +'" alt="user" class="rounded-circle" width="30">';
   				html += 		'<b><span> '+ obj.nickname +'</span></b>';
   				if($('#writer').text() == obj.nickname) {
					html += 	'<span class="text-info"> 작성자</span>';
   				}
				html += 		'<br>';
				html += 		'<div class="comment-content">';
				html += 			'<h5>'+ obj.content +'</h5>';
				html += 			'<h6 style="color: rgb(180, 180, 180);">'+ obj.writeDate +'</h6>';
				html += 		'</div>';
				html += 	'</div>';
				html += 	'<hr class="my-1">';
	    	});
	    	$('#comment-list').append(html);
	    }
	    
	    
    </script>
</body>
</html>