<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Bit 155 Final Project</title>
    <!-- Custom CSS -->
    <!-- Custom CSS -->
     <link href="assets/extra-libs/c3/c3.min.css" rel="stylesheet" />
    <link href="assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/kanban.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
 	<!-- <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
     <th:block th:replace="common/header :: header"></th:block>
     <th:block th:replace="common/aside :: aside"></th:block>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
        
       <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Calendar</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Apps</li>
                                    <li class="breadcrumb-item text-muted" aria-current="page">Calendar</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                                <option selected>Aug 19</option>
                                <option value="1">July 19</option>
                                <option value="2">Jun 19</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-3 border-right pr-0">
                                        <div class="card-body border-bottom">
                                            <h4 class="card-title mt-2">Drag & Drop Event</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="calendar-events" class="">
                                                        <div class="calendar-events mb-3" data-class="bg-info"><i
                                                                class="fa fa-circle text-info mr-2"></i>Event One</div>
                                                        <div class="calendar-events mb-3" data-class="bg-success"><i
                                                                class="fa fa-circle text-success mr-2"></i> Event Two
                                                        </div>
                                                        <div class="calendar-events mb-3" data-class="bg-danger"><i
                                                                class="fa fa-circle text-danger mr-2"></i>Event Three
                                                        </div>
                                                        <div class="calendar-events mb-3" data-class="bg-warning"><i
                                                                class="fa fa-circle text-warning mr-2"></i>Event Four
                                                        </div>
                                                    </div>
                                                    <!-- checkbox -->
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="drop-remove">
                                                        <label class="custom-control-label" for="drop-remove">Remove
                                                            after drop</label>
                                                    </div>
                                                     <button type="button" class="btn btn-secondary" data-toggle="modal"
                                  				      data-target="#centermodal">Add plan</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="card-body b-l calender-sidebar">
                                            <div id="calendar"> 
                                           </div>
                                        </div>
                                    </div>
                               <!-- 모달..? -->
                                  <div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                			<div class="modal-header modal-colored-header bg-primary">
                                          <h4 class="modal-title" id="success-header-modalLabel">Add plan </h4>
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                 <form class="pl-3 pr-3"  id="calendarData" name="calendarData">

                                                    <div class="form-group">
                                                        <label for="title">Title</label>
                                                        <input class="form-control" type="text" id="title" name="title"
                                                            required="" placeholder="Title">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="startDate">Start</label>
                                                        <input class="form-control" type="date" id="startDate" name="startDate"
                                                            required="" placeholder="Start date">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="endDate">End</label>
                                                        <input class="form-control" type="date" required="" name="endDate"
                                                            id="endDate" placeholder="End date">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="color">Color</label>
                                                        <input class="form-control" type="color" required="" name="color"
                                                            id="color" placeholder="Color" value="ddddzjffj">
                       <select><option>보라색</option><option>초록색</option><option>빨간색</option><option>노란색</option></select>
                                                    </div>
            										<div class="form-group">
                                                        <label for="description">Description</label>
                                                        <input class="form-control" type="text" required="" name="description"
                                                            id="description" placeholder="Description">
                                                    </div>

                                                </form>
                                            </div>
                                              <div class="modal-footer">
                                              <div class="form-group text-center">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" id="plan-add" class="btn btn-primary">Add</button>
                                                <p class="showCalendar" id="showCalendar" th:text=${showCalendar} hidden></p>
                                              </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>   
        
        
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <!-- <div th:replace="common/script :: script"></div> -->
    <!-- 저는 개인 script를 이용하겠습니다..-서폰지밥- -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
    <script src="assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
      <script src="assets/extra-libs/c3/d3.min.js"></script>
    <script src="assets/extra-libs/c3/c3.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <script src="js/feather.min.js"></script>
    <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="js/pages/calendar/arraylist.js"></script>
    <script src="assets/libs/moment/min/moment.min.js"></script>
    <script src="assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="js/pages/calendar/cal-init.js"></script>
    <script src="js/pages/calendar/calendarByme.js"></script>
    <script>
    	/* var calendar = new FullCalendar.Calendar(calendarEl,{
    		plugins:['interaction']
    	}); */
    </script>    
    
	<script>
/* <%
	List<Calendar> list = (ArrayList<Calendar>)request.getAttribute("showCalendar");
%>

	
	
 	var list = document.getElementById("showCalendar");
	var calendarEl = document.getElementById("calendar");
	var calendar = new FullCalendar.Calendar(calendarEl,{
		plugins: ['interaction','dayGrid','timeGrid','list'],
		locale : "ko",
		editable : true,
		evnets:[
				for(int i=0;i<list.size();i++){
					Calendar dto = (Calendar)list.get(i);
					console.log("달력내용"+list.get(i));
				{
					title : '<%= dto.getTitle() %>',
					start : '<%= dto.getStartDate() %>',
					end	: '<%= dto.getEndDate() %>'
				},
					}
				{
					title: 'default',
					start : "2020-07-07",
					end : "2020-07-08"
				}
		]
	
	});
	console.log()
	calendar.render();
 */
 /*var calendarData = $("#calendarData").serialize();
 $.ajax({
	url:"addPlan.ajax",
	type : "POST",
	data: calendarData,
	dataType:"json",
	success:function(e){
		console.log(e.calendarData);
		console.log(calendarData);
	},
	error: function(request,status,error){
		console.log("실패");
		console.log(error);
	}
 })*/
    </script>
    

</body>
</html>