<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Edit User Info</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="css/kanban.css" rel="stylesheet">
    <link href="css/user.css" rel="stylesheet">
</head>

<body>
   <div th:replace="common/scriptA :: scriptA"></div> 
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
     <th:block th:replace="common/header :: header"></th:block>
     <span th:if="${session.currentUser.teamNo > 0}" >
     <th:block th:replace="common/aside :: aside"></th:block>
     </span>
     <th:block th:replace="common/addAllBoardModal"></th:block>
     <th:block th:replace="common/chat"></th:block>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->

        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div class="auth-box row text-center"></div>

            
            <!-- modal -->
            
		<!-- content modal -->
		 <!-- Signup modal content -->
         <div id="editPassword" class="modal fade" tabindex="-1" role="dialog"
             aria-hidden="true">
             <div class="modal-dialog user-edit-user-modal-center">
                 <div class="modal-content">

                     <div class="modal-body">
                         <div class="text-center mt-4 mb-4">
                             <a href="index.html" class="text-success">
                                 <span><img class="mr-2" src="../assets/images/logo-icon.png"
                                         alt="" height="18"><img
                                         src="../assets/images/logo-text.png" alt=""
                                         height="18"></span>
                             </a>
                         </div>

                         <form class="mt-5 pl-3 pr-3" action="#">
                         
	                        <div class="form-group mt-3 mb-4">
	                            <input class="form-control mt-2" type="password" id="pwd" name="pwd" placeholder="현재 비밀번호를 입력하세요">                            
	                            <div class="invalid-feedback">
	                            </div>
	                            <input class="form-control mt-2" type="password" id="newPwd" name="newPwd" placeholder="새 비밀번호를 입력하세요">                            
	                            <div class="invalid-feedback">
	                            </div>
	                            <input class="form-control mt-2" type="password" id="newPwdCheck" placeholder="비밀번호 확인">                            
	                            <div class="invalid-feedback">
	                            </div>    
	                        </div>

                             <div class="form-group text-center mt-4 mb-3">
                                 <button class="btn btn-primary" type="submit">비밀번호 변경</button>
                             </div>

                         </form>

                     </div>
                 </div><!-- /.modal-content -->
             </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
            
            
            <!-- modal end -->
            
            
            
            
            
            
                


            <div class="col-lg-4 col-md-6 col-sm-7 bg-white">
                <div class="p-2"></div>

                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span>
                                <img class="mr-2" src="assets/images/logo-icon.png" alt="" height="18">
                                <img src="assets/images/logo-text.png" alt="" height="18">
                            </span>
                        </a>
                    </div>

                    <form class="pl-3 pr-3 mt-4" action="" method="POST" enctype="multipart/form-data">

                        
                        <div class="form-group">
                        <div class="user-img rounded-circle" style="background-color: white; overflow: hidden; height:200px; width:200px; margin:10px auto;">
                           	<div class="text-center" style="top: 0; left: 0; right: 0; bottom: 0; transform: translate(50%, 50%);">
                               	<img th:src="${#strings.startsWith(session.currentUser.image, 'https')} 
                               				? ${session.currentUser.image} : @{assets/images/userImage/}+${session.currentUser.image} " 
                               			alt="userImagePreview"  id="userImagePreview" 
                               			style="width :auto; height: 200px; transform: translate(-50%, -50%); display: block;">                       	 
                           	</div>
                        </div>
						</div>

                        <div class="form-group col-lg-9" style="margin: 16px auto;">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="userImage" name="file" accept="image/*">
                                <label class="custom-file-label form-control" id="userImageLabel" for="userImage" style="overflow: hidden;" 
                                	   th:text="${(session.currentUser.image == 'user.png') 
                                				|| #strings.startsWith(session.currentUser.image, 'https')} 
                                				? '' : ${session.currentUser.image}"></label>
                            </div>
                        </div> 

                        <div class="form-group">
                        	<input class="form-control" type="text" id="nickName" name="nickname" th:value="${session.currentUser.nickname}" placeholder="Nickname">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <input class="form-control" type="email" id="id" name="id" th:value="${session.currentUser.id}" readonly>
							<div class="invalid-feedback">
                            </div>                            
                        </div>
                     

                        
                                                
                        <div class="btn btn-block btn-info mt-2 mb-2" data-toggle="modal" data-target="#editPassword"> 비밀번호 변경</div>
 
                        
                        <div class="col-lg-12 text-center mt-4">
                            <button type="submit" id="submit" class="btn btn-info mr-2"><i class="fas fa-check"></i>
                                &nbsp;Save&nbsp;</button>
                            <input type="reset" id="reset" class="btn btn-secondary ml-2" value=" reset ">

                        </div>
                        <div class="col-lg-12 text-center mt-5 mb-2">
                            Don't want our service anymore? <a href="" id="delAccount" class="text-muted">Delete account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <div th:replace="common/scriptB :: scriptB"></div>
    
    
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <!--파일 선택시 파일 경로 표시하기 아래 3개 모두 필요-->
    <!--Custom JavaScript -->
    <script src="js/feather.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js "></script>
    <script src="js/custom.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="js/editUser.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/
   	var currUserImage = [[${session.currentUser.image}]];
   	var currUserNickname = [[${session.currentUser.nickname}]];
	var currUserImage = [[${session.currentUser.image}]];
	var teamNo = [[${session.currentUser.teamNo}]];
	var teamMember = [[${teamMember}]];
	var bgColor = [[${team.backgroundColor}]];
    /*]]>*/
    </script>
</body>


</html>