<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>TIKA</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="css/kanban.css" rel="stylesheet">
    <link href="css/user.css" rel="stylesheet">


</head>

<body>
   <div th:replace="common/scriptA :: scriptA"></div> 
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div class="auth-box row text-center"></div>

                


            <div class="col-lg-4 col-md-6 col-sm-7 bg-white"> <!-- 이 비율로 바꾸기 -->
                <div class="p-2"></div>

                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span><img src="assets/images/tika.png" alt="" height="25"></span>
                        </a>
                    </div>

                    <form class="pl-3 pr-3 mt-4" action="" method="post">

						                        
                        <div class="form-group">
                            <input class="form-control user-signup-form-control-w-button col-8 mr-2" type="email" id="id" name="id"
                                required="" placeholder="john@deo.com">
                            <label class="btn btn-info col-3 user-signup-btn-padding" id="checkEmail">인증 요청</label>
                            <div class="invalid-feedback">
                            </div>
                        </div>



                        <div class="form-group">
                            <input class="form-control user-signup-form-control-w-button col-8 mr-2" type="text" id="authNum" name="authNum"
                                required="" placeholder="인증번호를 입력하세요">
                            <label class="btn btn-info col-3 user-signup-btn-padding" id="authNumCheck">인증 확인</label>                                
                            <div class="invalid-feedback"id="confirmEmail">
                            </div>
                        </div>


                        <div class="form-group">
                            <input class="form-control" type="text" id="nickName" name="nickname"
                                required="" placeholder="별명">
                            <div class="invalid-feedback">
                            </div>
                        </div>


                        <div class="form-group">
                            <input class="form-control" type="password" required=""
                                id="password" name="pwd" placeholder="비밀번호">
                            <div class="invalid-feedback">
                            </div>
                        </div>


                        <div class="form-group">
                            <input class="form-control mt-2" type="password" required=""
                            id="passwordCheck" placeholder="비밀번호 확인">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        
                        <div class="col-lg-12 text-center mt-4 user-signup-btn-padding-0">
                            <button type="submit" id="submit" class="btn btn-block btn-info" disabled>가입하기</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5 mb-2">
                            이미 계정이 있으신가요? <a href="signin" class="text-danger">들어가기</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <div th:replace="common/scriptB :: scriptB"></div>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
        
        
        $(function() {
            // console.log("jquery start");
            var emailRegExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            var pwdRegExp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
            var nickRegExp = /^[0-9a-zA-Zㄱ-ㅎㅏ-ㅣ가-힣]{1,10}$/;
            
            
            
            /**
             * @함수명 : regCheck(input, regExp, name)
             * @작성자 : 김선
             * @설명 : input에 입력한 값이 정규표현식에 맞는지 확인하고 name값에 따라  경우에 맞는 메시지 출력 (이벤트 연동 안돼있음)
             **/            
            function regCheck(input, regExp, name) { // 정규표현식 검증
                
                if(name == "비밀번호확인"){
                   if( $('#password').hasClass('is-valid') === true ){
                        if($('#password').val() != input.val()){
                            let invalidMessage = '비밀번호가 일치하지 않습니다 <br>';
                            input.removeClass("is-exist is-valid");
                            input.addClass("is-invalid");
                            input.siblings('div').append(invalidMessage);
                        }else{
                            input.removeClass("is-exist is-invalid");
                            input.addClass("is-valid");
                        }
                   }else{
                    input.removeClass("is-exist is-valid");
                    input.addClass("is-invalid");
                    let invalidMessage = '형식에 맞는 비밀번호를 먼저 입력하세요 <br>';
                    input.siblings('div').append(invalidMessage);
                   }
                            
                }else{
                    
                    if ( regExp.test(input.val()) == false) {
                        input.removeClass("is-exist is-valid");
                        input.addClass("is-invalid");
                        
                        
                        let invalidMessage = name + ' 형식에 맞게 입력하세요 <br>';
                        
                        if(name == "비밀번호"){
                        	invalidMessage += '영문 소문자, 대문자 , 숫자를 1자 이상 포함하여 8자 이상 입력해주세요 <br>';
                        }
                        
                        input.siblings('div').append(invalidMessage);
                    }else{
                    	
                    	if(!input.hasClass('is-exist')){
                            input.removeClass("is-invalid");
                            input.addClass("is-valid");
                    	}                    	
                    	//중복확인 후 key-up이 들어오면 class 삭제
                    	input.removeClass('is-exist is-confirmed');                   	
                    }                  
                }                        
            }
            
            /*
            function time(){
				          	  asyncResult = "메일 인증 성공";
				      	  }
            */
            
            /**
             * @함수명 : 익명함수
             * @작성자 : 김선
             * @설명 : email input 입력값에 따라 경우에 맞는 alert창을 띄우거나 인증 메일을 전송
             **/ 
            $('#checkEmail').on('click', function(){
              	let inputId = $('#id').val().trim();
              	
              	if(inputId == ""){
              		Swal.fire('', '이메일을 입력하세요', 'warning');
              		return;
              	}
              	
              	if($('#id').hasClass('is-invalid')){
              		Swal.fire('', '이메일 형식에 맞게 입력하세요', 'warning');
              		return;
              	}
              	
                  $.ajax({
              		type: "post",
              		url: "signup/duplicateCheck.ajax",
              		data: {
              				"id" : inputId
              			},
              		success: function(data){
              			
                          if(data == 1) {
                              Swal.fire('', '이미 가입한 이메일 입니다!', 'warning');
                              $('#id').removeClass('is-valid is-invalid');
                              $('#id').addClass('is-exist is-invalid');
                              $('#id').focus();
                              return false;
                          }else{
                        	                                
                              Swal.fire({
                              	  title: '',
                              	  text: "입력하신 메일주소로 인증번호가 발송됩니다",
                              	  icon: 'info',
                              	  showCancelButton: true,
                              	  confirmButtonColor: '#3085d6',
                              	  cancelButtonColor: '#d33',
                              	  confirmButtonText: '인증메일 받기',
                              	  cancelButtonText: '취소'
                              	}).then((result) => {
                              	  if (result.value) {

        							  $.ajax({
  								  		type: "post",
  								  		url: "signup/confirmEmail.ajax",
  								  		data: {
  				              					"to" : $('#id').val()									  				
  									  		},
  								  		success: function(data){
  								  			
  								  			Swal.fire('', '인증번호를 발송했습니다. \n메일을 확인해주세요', 'info');
  								  			
  								  			$('#authNumCheck').click(function(){
  								  				
  								  				if($('#authNum').val() != data){
  								              		Swal.fire('', '인증번호가 일치하지 않습니다', 'warning');
  								  				}else{

  		  								  			Swal.fire('', '인증이 완료됐습니다', 'success');
  								  					$('#authNum').addClass('is-valid').trigger('change');
  								  					$('#id').addClass('is-confirmed');
  								  					$('#authNum').attr('readonly', true);
  								  					$('#id').attr('readonly', true);
  								  				}
  								  			});
  								  		} //success end
  							  });
                              	  
                              	  }else{
                                 	   $(this).attr("href", "");
                              	  }
                              	});
                        	  
                        	  
                        	  

                          }
              			
              			},
             		    error:function(request,status,error){
             			    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
             			    }
          	 		});
                  
                  
                 
                  
                  
              });
            
            
           
            
            
            /**
             * @함수명 : inputCheck(input, regExp, name)
             * @작성자 : 김선
             * @설명 : input 이벤트에 따라 파라미터로 regCheck함수를 실행
             **/ 
            function inputCheck(input, regExp, name) {
                input.on({
                    blur : function() {
                    	input.siblings('div').empty();
                        if (input.val() == "") {
                            input.addClass("is-invalid");
                            let invalidMessage = name + '을 입력하세요 <br>';
                            //input.next().append(invalidMessage);
                            input.siblings('div').append(invalidMessage);
                            
                        }else{
                            regCheck($(this), regExp, name);
                        }
                    },
                    keyup : function() {
                        //input.next().empty();
                        input.siblings('div').empty();
                        regCheck(input, regExp, name);
                    }
                });
            }
				      	  
            inputCheck($('#id'), emailRegExp, "이메일");
            inputCheck($('#nickName'), nickRegExp, "별명");
            inputCheck($('#password'), pwdRegExp, "비밀번호"); 
            inputCheck($('#passwordCheck'), pwdRegExp, "비밀번호확인");
            
            
            
            /**
             * @함수명 : 익명함수
             * @작성자 : 김선
             * @설명 : input 이벤트에 따라 submit버튼을 활성화
             **/ 
            $('input').on('change keyup', function() {
               let nickOk = $('#nickName').hasClass('is-valid');
               let idOk = $('#id').hasClass('is-valid');
               let idConfirmOk = $('#authNum').hasClass('is-valid');
               let pwdOk = $('#password').hasClass('is-valid');
               let pwdChckOk = $('#passwordCheck').hasClass('is-valid');
               
               if(nickOk && idOk && pwdOk && pwdChckOk && idConfirmOk){
                   $('#submit').removeAttr('disabled');
               }else{
                   if(!($('#submit').is(['disabled']))){
                        $('#submit').attr('disabled', 'disabled');
                   }
               }
            });
        
        });

        

        
    </script>
</body>



</html>