<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>TIKA</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            


                <div class="col-lg-4 col-md-6 col-sm-7 bg-white">
                    <div class="p-2">



                        <div class="modal-body">
                            <div class="text-center mt-2 mb-4">
                                <a href="index.html" class="text-success">
                                    <span><img src="assets/images/tika.png" alt="" height="25"></span>
                                </a>
                            </div>
                            

                            <form action="" class="pl-3 pr-3 pt-3 mt-4" onsubmit='return submitCheck();' method="post">

                                <div class="form-group">
                                    <input class="form-control" type="text" id="id" name="id" placeholder="john@deo.com">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" id="pwd" name="pwd" placeholder="비밀번호를 입력하세요">
                                    <div class="invalid-feedback">
                                    </div>        
                                </div>
                               

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            id="remember-me" name="remember-me">
                                        <label class="custom-control-label"
                                            for="remember-me">로그인 유지</label>
                                    </div>
                                </div>
                                
                                
                                                                                
                               <span th:if="${not #strings.isEmpty(param.error)}">
                                	<div class="mt-3 mb-3 h6 text-danger">
                                		로그인 실패<br>
                                		아이디나 비밀번호를 확인해주세요<br>
                                	 </div>
                                </span>
                                

                                <div class="form-group text-center mt-4">
                                    <input type="submit" class="btn btn-block btn-info" value="들어가기" />
                                </div>
                                

                                <div class="text-center mt-4 pt-3">
                                    <p>다음 계정으로 시작</p>
	                                <a href="javascript:;" class="btn_social ml-2 mr-2" data-social="google">
	                                	<img height="65" src="assets/images/socialLoginImages/G_circle.png"/>
	                                </a>
	                                <a href="javascript:;" class="btn_social ml-2 mr-2" data-social="naver">
	                                	<img height="65" src="assets/images/socialLoginImages/N_circle.png" />
	                                </a>
	                                <a href="javascript:;" class="btn_social ml-2 mr-2" data-social="facebook">
	                                	<img height="65" src="assets/images/socialLoginImages/FB_circle.png" />
	                                </a>
                                </div>

                                <div class="col-lg-12 text-center mt-5">
                                    티카 회원이 아니신가요? <a href="signup" class="text-danger">가입하기</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
        
        
        
        
        /**
        * @함수명 : submitCheck()
        * @작성자 : 김선
        * @설명 : input에 사용자 입력값이 없는 상태로 submit을 시도하는 경우 안내 메시지를 출력
        **/
        
        function submitCheck() { 
            let invalidMessage = "을 입력하세요 <br>";
            $('.invalid-feedback').empty();
            $('input').removeClass('is-invalid');
            if($('#id').val() == ""){
                $('#id').addClass('is-invalid');
                
                invalidMessage = "이메일" + invalidMessage;
                $('#id').next().append(invalidMessage);
                return false;
            }
            if($('#pwd').val() == ""){
                $('#pwd').addClass('is-invalid');
                invalidMessage = "비밀번호" + invalidMessage;
                $('#pwd').next().append(invalidMessage);
                return false;
            }
            return true;
        }
        
        
        /**
        * @함수명 : 익명함수(projectName)
        * @작성자 : 김선
        * @설명 : 소셜로그인 버튼 클릭시 해당 플랫폼에 맞는 주소로 소셜로그인 요청을 보냄
        * @param : 없음 (클릭 이벤트에 따라 소셜타입을 가져옴)
        **/
        let socials = document.getElementsByClassName("btn_social");
        
		for(let social of socials) {
		social.addEventListener('click', function(){
			let socialType = this.getAttribute('data-social');
			location.href="/oauth2/authorization/" + socialType;
	
			})
		}
        
    </script>
</body>


</html>