<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Bit 155 Final Project</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
	    .page-wrapper{
	    	box-shadow: none;
	    }
    	.teamBtn, .newTeamBtn {
    		cursor:pointer;
    	}
    	.teamBtn:hover, .newTeamBtn:hover {
    		background-color: rgba(0, 0, 0, 0.1);
    		border-radius: 4px;
    	}
        .backColorBox {
        	width: 25px;
        	height: 25px;
        	border-radius: 3px;
        }
        input[type="radio"] {
        	width: 25px;
        }
    </style>
</head>

<body>
	<div th:replace="common/scriptA :: scriptA"></div> 
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
	<th:block th:replace="common/header_teammain :: header_teammain"></th:block>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
	<div class="page-wrapper">
       	<div class="container-fluid" id="outer">
       	
       		<div class="row" th:each="item: ${group}" ondrop="drop(event)" ondragover="allowDrop(event)">
       			<div class="col-xl-12"  style="height: 100%;" th:attr="data-groupNo=${item.groupNo}">
       				<div class="groupNameArea">
        				<h2 th:utext="${item.groupName}" style="display: inline-block; vertical-align: middle;"></h2>&nbsp;
        				<h6 style="display: inline-block; vertical-align: middle;" th:if="${!item.groupName.equals('Personal')}">
		        			<a href='javascript:void(0);' class="editGroupName"><i class='fas fa-pencil-alt iconStyle iconStyle' ></i></a>&nbsp;
	                        <a href='javascript:void(0);' class="delGroupName"><i class='fas fa-trash-alt iconStyle iconStyle' ></i></a>
        				</h6>
        			</div>
       			</div>
       			<div class="col-xl-3" th:each="team: ${groupAndTeam}" th:if="${item.groupNo == team.groupNo}">
       				<div class="card" th:style="'background-color:#' + ${team.backgroundColor}">
       					<div class="card-body collapse show teamBtn" draggable="true" ondragstart="drag(event)" th:attr="data-teamNo=${team.teamNo}">
       						<div class="mainbar" style="height:5px; color:#000000"></div>
       						
       						<h4 class="card-title" th:text="${team.teamName}"></h4>
       						
       						<span th:each="member : ${teamMemberList}" th:if="${team.teamNo == member.teamNo && member.teamOut == 'N'}">
	       						<div class="user-img rounded-circle" style="float: left; background-color: white; overflow: hidden; height: 40px; width: 40px;">
								<div style="top: 0; left: 0; right: 0; bottom: 0; transform: translate(50%, 50%);">
									<img th:src="${#strings.startsWith(member.image, 'https')} ? ${member.image} : @{assets/images/userImage/}+${member.image}" 
	       									alt="user"  href="javascript:void(0)" style="width: auto; height: 40px; transform: translate(-50%, -50%); display:block;" 
	       									data-toggle="tooltip" data-placement="top" th:title="${member.teamMemberId}">

								</div>
							</div>
       						</span>
       					
       					</div>
       				</div>
       			</div>
       			<div class="col-xl-3">
       				<div class="card" >
       					<div class="card-body collapse show newTeamBtn" data-toggle="modal" data-target="#createNewTeamModal" style="text-align: center; height:120px;">
       						+ Create New Team
       					</div>
       				</div>
       			</div>
       		</div>
       		<div class="row" id="addGroupDiv">
        		<div class="col-xl-3">
                    <div class="btn waves-effect waves-light btn-outline-primary" id="addGroupBtn" >+ Add Group</div>
                </div>
       		</div>
       		
       	</div>
       </div>
       
       <!-- Create New Team Modal -->
        <div id="createNewTeamModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-4">
                        <div class="text-center">
                            <i class="dripicons-warning h1 text-warning"></i>
                            <input type="hidden" id="hiddenGroupNo">
                            <input type="text" class="form-control" placeholder="Team Name" id="teamName">
                            <br>
                            <div class="custom-radio">
                            	<input type="radio" id="ffffff" value="ffffff" name="backColor" class="backColor" checked>
                            	<input type="radio" id="5f76e8" value="5f76e8" name="backColor" class="backColor">
                            	<input type="radio" id="22ca80" value="22ca80" name="backColor" class="backColor">
                            	<input type="radio" id="fdc16a" value="fdc16a" name="backColor" class="backColor">
                            	<input type="radio" id="ff4f70" value="ff4f70" name="backColor" class="backColor">
                            	<input type="radio" id="e8eaec" value="e8eaec" name="backColor" class="backColor">
                            	<input type="radio" id="6c757d" value="6c757d" name="backColor" class="backColor">
                            	<input type="radio" id="1c2d41" value="1c2d41" name="backColor" class="backColor"><br>
                            	<label for="ffffff"><div class="backColorBox" style="background-color: #ffffff; border: 1px solid silver;"></div></label>
                            	<label for="5f76e8"><div class="backColorBox" style="background-color: #5f76e8;"></div></label>
                            	<label for="22ca80"><div class="backColorBox" style="background-color: #22ca80;"></div></label>
                            	<label for="fdc16a"><div class="backColorBox" style="background-color: #fdc16a;"></div></label>
                            	<label for="ff4f70"><div class="backColorBox" style="background-color: #ff4f70;"></div></label>
                            	<label for="e8eaec"><div class="backColorBox" style="background-color: #e8eaec;"></div></label>
                            	<label for="6c757d"><div class="backColorBox" style="background-color: #6c757d;"></div></label>
                            	<label for="1c2d41"><div class="backColorBox" style="background-color: #1c2d41;"></div></label>
                            </div>
                            <br>
                            <button type="button" class="btn btn-warning my-2" data-dismiss="modal" id="createTeamBtn">Create</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <div th:replace="common/scriptB :: scriptB"></div> 
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var currUser = [[${session.currentUser.id}]];
    	var currUserImage = [[${session.currentUser.image}]];
    /*]]>*/
    </script>

</body>
</html>