<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Bit 155 Final Project</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/kanban.css" rel="stylesheet">
    <style>
    	.teamBtn {
    		cursor:pointer;
    	}
    	.teamBtn:hover {
    		background-color: rgba(0, 0, 0, 0.1);
    		border-radius: 4px;
    	}
    	.iconStyle {
            color: silver;
        }
        .iconStyle:hover {
            color: #5f76e8;
        }
    </style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
     <th:block th:replace="common/header :: header"></th:block>
    
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
	<div class="page-wrapper">
       	<div class="container-fluid" id="outer">
       	
       		<div class="row" th:each="item: ${group}">
       			<div class="col-xl-12"  style="height: 100%;" th:attr="data-groupNo=${item.groupNo}">
       				<div class="groupNameArea">
        				<h2 th:utext="${item.groupName}" style="display: inline-block; vertical-align: middle;"></h2>&nbsp;
        				<h6 style="display: inline-block; vertical-align: middle;" th:if="${!item.groupName.equals('Personal')}">
		        			<a href='javascript:void(0);' class="editGroupName"><i class='fas fa-pencil-alt iconStyle iconStyle' ></i></a>&nbsp;
	                        <a href='javascript:void(0);' class="delGroupName"><i class='fas fa-trash-alt iconStyle iconStyle' ></i></a>
        				</h6>
        			</div>
       			</div>
       			<div class="col-xl-3" th:each="team: ${groupAndTeam}" th:if="${item.groupName == team.groupName}">
       				<div class="card" >
       					<div class="card-body collapse show teamBtn">
       						<h4 class="card-title" th:text="${team.teamName}"></h4>
       					</div>
       				</div>
       			</div>
       			<div class="col-xl-3">
       				<div class="card" >
       					<div class="card-body collapse show teamBtn" style="text-align: center;">
       						+ Create New Team
       					</div>
       				</div>
       			</div>
       		</div>
       		<div class="row" id="addGroupDiv">
        		<div class="col-xl-3">
                    <div class="btn waves-effect waves-light btn-outline-primary" id="addGroupBtn" >+ Add Group</div>
                </div>
       		</div>
       		
       	</div>
       </div>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <div th:replace="common/script :: script"></div>
    <script th:inline="javascript">
	    /*<![CDATA[*/
	    	var currUser = [[${session.currentUser.id}]];
	    	console.log(currUser);
	    /*]]>*/
		var inputGroupNameHtml =
			'<div class="row" id="inputGroupNameDiv">' + 
				'<div class="col-xl-3">' +
					'<input type="text" placeholder="그룹명을 입력하세요" class="form-control" id="inputGroupName">' +
				'</div>' +
				'<div class="col-xl-3">' +
					'<button class="btn btn-info btn-circle" id="addGroupName"><i class="fa fa-check"></i></button>' +
				'</div>' +
			'</div>';
		var editGroupNameHtml =
			'<div class="row" id="editGroupNameDiv">' + 
				'<div class="col-xl-3">' +
					'<input type="text" placeholder="그룹명을 입력하세요" class="form-control" id="editGroupName">' +
				'</div>' +
			'</div>';
			
    	//addGroupBtn 눌렀을 때
		$('#addGroupBtn').click(function() {
			//다른 열려있는 input 닫아주기
    		$('input').each(function(index, ele) {
    			$(this).parent().parent().prev().show();
    			$(this).parent().parent().remove();
    		});
			$('#outer').append(inputGroupNameHtml);
			$('#addGroupBtn').hide();
			$('#inputGroupNameDiv').find('input').focus();
		});
		
    	//그룹명 입력받고 체크버튼 눌렀을 때
		$(document).on('click', '#addGroupName', function() {
			if($('#inputGroupName').val() == "") {
				alert('그룹명을 입력하세요.');
				$(this).parent().prev().children('input').focus();
				return;
			}
	    	var html = "";
			$.ajax({
				url: "insertGroup.do",
				data: {
					groupName: $('#inputGroupName').val(),
					id: currUser
				},
				success: function(resData) {
					html = 
						'<div class="row">' + 
		        			'<div class="col-xl-12"  style="height: 100%;"  data-groupNo="' + resData + '">' + 
		        				'<div class="groupNameArea">' +
			        				'<h2 th:utext="${item.groupName}" style="display: inline-block; vertical-align: middle;">' + $('#inputGroupName').val() + '</h2>&nbsp;' +
			        				'<h6 style="display: inline-block; vertical-align: middle;" >' +
					        			'<a href="javascript:void(0);" class="editGroupName"><i class="fas fa-pencil-alt iconStyle iconStyle"></i></a>&nbsp;' + 
				                        '<a href="javascript:void(0);" class="delGroupName"><i class="fas fa-trash-alt iconStyle iconStyle"></i></a>' + 
			        				'</h6>' + 
			        			'</div>' +
		        			'</div>' + 
		        			'<div class="col-xl-3">' +
		        				'<div class="card" style="text-align: center;">' +
		        					'<div class="card-body collapse show teamBtn">' +
		        						'+ Create New Team' +
		        					'</div>' +
		        				'</div>' +
		        			'</div>' +
		        		'</div>';
					$('#addGroupDiv').before(html);
					$('#inputGroupNameDiv').remove();
					$('#addGroupBtn').show();
				},
				error: function(e) {
					console.log(e);
				}
			});
		});
    	
    	//그룹 수정버튼 눌렀을 때
    	$('#outer').on('click', '.editGroupName', function() {
    		//다른 열려있는 input 닫아주기
    		$('input').each(function(index, ele) {
    			$(this).parent().parent().prev().show();
    			$(this).parent().parent().remove();
    			$('#inputGroupNameDiv').remove();
    			$('#addGroupBtn').show();
    		});
    		//그룹 번호
    		let groupNo = $(this).parent().parent().parent().data('groupno');
    		//원래 그룹명
    		let oriGroupName = $(this).parent().prev().text();
    		//groupNameArea 영역, 숨겨지는 부분
    		let groupNameArea = $(this).parent().prev().parent();
    		//groupNameArea의 부모. 이 밑에 input을 append
    		let groupNameAreaParent = $(this).parent().prev().parent().parent();
    		
    		groupNameArea.hide();
    		groupNameAreaParent.append(editGroupNameHtml);
    		groupNameAreaParent.find('input').focus();
    		
    		$.ajax({
				url: "updateGroupName.do",
				data: {
					groupName: $('#inputGroupName').val(),
					groupNo: groupNo
				},
				error: function(e) {
					console.log(e);
				}
			});
    	});
    	
    	$('#outer').on('keypress', '#editGroupName', function(key) {
    		if (key.keyCode == 13) {
    			if($(this).val() == "") {
    				alert('그룹명을 입력하세요.');
    				$(this).focus();
    				return;
    			}
   				//groupNameArea 영역, 다시 보여지는 부분
   				let groupNameArea = $(this).parent().parent().prev();
   				groupNameArea.children('h2').text($(this).val());
   				groupNameArea.show();
   				$(this).parent().parent().remove();
   			}
    	});
    	
    	//그룹 삭제버튼 눌렀을 때
    	$('#outer').on('click', '.delGroupName', function() {
    		//그룹 번호
    		let groupNo = $(this).parent().parent().parent().data('groupno');
    		swal({
    			title: "Group을 삭제하시겠습니까?",
    			text: "Group을 삭제하면 그 Group에 속한 Tema List는 Personal Group으로 이동됩니다.",
    			icon: "warning",
    			buttons: true,
    			dangerMode: true,
    		})
    		.then((willDelete) => {
    		    if(willDelete) {
    		    	var promise = 
    		    		$.ajax({
    						url: "delGroup.do",
    						data: {
    							groupNo: groupNo
    						},
    						error: function(e) {
    							console.log(e);
    						}
    					});
    		    	promise.done(delGroupPromise);
    		    	promise.fail(promiseError);
    			}
    		});
    	});
    	
    	function delGroupPromise() {
			return new Promise(function(resolve, reject) {
				$.ajax({
					url: "teamList.do",
					data: {
						id: currUser
					},
					success: function(resData) {
						console.log(resData.group);
						$('#outer').empty();
						makeListHtml(resData);
					},
					error: function(e) {
						console.log(e);
					}
				});
			});
    	}
    	function promiseError(e) {
    		console.log("프로미스 에러..");
    		console.log(e);
    		return false;
    	}
    	
    	//목록 그리는 함수
    	function makeListHtml(resData) {
    		let html = '';
    		$.each(resData.group, function(index, obj) {
    			html += '<div class="row">';
    			html += 	'<div class="col-xl-12"  style="height: 100%;" data-groupNo= '+ obj.groupNo +'>';
    			html += 		'<div class="groupNameArea">';
    			html += 			'<h2 style="display: inline-block; vertical-align: middle;">'+ obj.groupName +'</h2>&nbsp;';
    			if(obj.groupName != 'Personal') {
	    			html += 		'<h6 style="display: inline-block; vertical-align: middle;">';
    				html += 			'<a href="javascript:void(0);" class="editGroupName"><i class="fas fa-pencil-alt iconStyle iconStyle"></i></a>&nbsp;';
    				html += 			'<a href="javascript:void(0);" class="delGroupName"><i class="fas fa-trash-alt iconStyle iconStyle"></i></a>';
    				html += 		'</h6>';
    			}
    			html += 		'</div>';
    			html += 	'</div>';
    			$.each(resData.groupAndTeam, function(index2, obj2) {
    				if(obj.groupName == obj2.groupName) {
    				html += '<div class="col-xl-3">';
    				html += 	'<div class="card" >';
    				html += 		'<div class="card-body collapse show teamBtn">';
    				html += 			'<h4 class="card-title">'+ obj2.teamName +'</h4>';
    				html += 		'</div>';
    				html += 	'</div>';
    				html += '</div>';
    				}
    			});
    			html += 	'<div class="col-xl-3">' +
									'<div class="card" >' +
										'<div class="card-body collapse show teamBtn" style="text-align: center;">' +
											'+ Create New Team' +
										'</div>' +
									'</div>' +
								'</div>' +
							'</div>';
    		});
    			html +=	'<div class="row" id="addGroupDiv">' +
								'<div class="col-xl-3">' +
						            '<div class="btn waves-effect waves-light btn-outline-primary" id="addGroupBtn" >+ Add Group</div>' +
						        '</div>' +
							'</div>';
    			$('#outer').append(html);
    	}
	</script>
    

</body>
</html>