<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit3004.dao.CalendarDao">
	<select id="showCalendar" resultType="kr.or.bit3004.dto.Calendar">
		SELECT
			name,start,end,color,description
		FROM
			plan
	<!-- 	ORDER BY
			num
		DESC -->
	</select>
	<insert id="addPlan" parameterType="kr.or.bit3004.dto.Calendar">
		INSERT INTO PLAN (
				NAME,
				START,
				END,
				COLOR,
				DESCRIPTION,
				TEAM_NO,
				ID
				)
		VALUES
			(#{title},#{startDate},#{endDate},#{color},#{description},1,'a')
		
	</insert>
</mapper>