<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Bit 155 Final Project</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/kanban.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
     <th:block th:replace="common/header :: header"></th:block>
     <th:block th:replace="common/aside :: aside"></th:block>
     <th:block th:replace="common/addAllBoardModal"></th:block>
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
        
        
        
        
    <!-- ////////////////////////////// 여기에 내용 넣어주세요 ////////////////////////////////////// -->
    </div><!--<<원래 있는거 맞음 삭제 ㄴㄴ해 -->
    <div th:replace="common/script :: script"></div>
</body>
</html>